
    <main class="flex-shrink-0">
  
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">404 Not Found</h1>
                            <p class="lead fw-normal text-muted mb-4">We regret to inform you that the page you are attempting to access appears to be unavailable. It seems that the resource you are seeking could not be located on our servers. We apologize for any inconvenience this may have caused.</p>
                            <a class="btn btn-primary btn-lg" routerLink="/home">Back to home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </main>
